<!DOCTYPE html>
<html>

<head>
    <title>InSight Premium</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
</head>

<body>


    <div class="top-title">

        <a href="#"><img id="logoInsight" src="../../assets/insight.png" alt=""></a>

        <div class="other">
            <div class="title">
                <h1>You have to get Premium.</h1>
                <h2>We'll scan your best pictures all at once.</h2>
                <button ng-click="sendPost()">Try InSight Premium</button>


            </div>

        </div>
        <h5>* <u>Terms and conditions</u> apply.</h5>

    </div>
    <div class="middle-section">
        <h1>Looking to get your best pic posted?</h1>
        <h2>Let us do the rest.</h2>


        <div class="row">
            <div class="column">
                <div class="card">
                    <img src="../../assets/upload.svg" alt="">
                    <h2>Unlimited Uploads</h2>
                    <h3>Enjoy limitless image uploads on InSight.</h3>
                    
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="../../assets/handsfree.svg" alt="">
                    <h2>Hands-free Uploads</h2>
                    <h3>We'll scan your gallery automatically and suggest the best image for you to post.</h3>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <img src="../../assets/recommendation.svg" alt="">
                    <h2>Personalized Recommendations</h2>
                    <h3>We will design suggestions just for you.</h3>
                    
                </div>
            </div>


        </div>




    </div>

</body>


</html>